#include "zmk-helpers/key-labels/34.h"

&lt {
    tapping-term-ms = <120>;
    flavor = "balanced";
    require-prior-idle-ms = <150>;
};

&mt {
    tapping-term-ms = <120>;
    flavor = "balanced";
    require-prior-idle-ms = <90>;
};

ZMK_BEHAVIOR(mod_kr, hold_tap,
    tapping-term-ms = <120>;
    flavor = "balanced";
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&key_repeat>;
)

/* Left-hand HRMs. */
ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* Right-hand HRMs. */
ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)
/*sticky mod tap*/
ZMK_HOLD_TAP(mod_sk,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&sk>;
)
ZMK_HOLD_TAP(ltd,
    flavor = "tap-preferred";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&mo>, <&kp>;
)
